<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<!--@thymesVar id="patent" type="com.ericlee.pstudio.alpha.domain.patent.entity.Patent"-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-9">
                <label for="koreanName" class="form-label">발명의 명칭 (국문)</label>
                <input id="koreanName" class="form-control form-control-lg" th:value="${patent.getKoreanName()}" placeholder="국문 이름"></input>
                <br>
                <label for="englishName" class="form-label">발명의 명칭 (영문)</label>
                <input id="englishName" class="form-control form-control-lg" th:value="${patent.getEnglishName()}" placeholder="영문 이름"></input>
                <br>
            </div>
            <div class="col align-self-end" style="text-align: end">
                <button class="btn btn-outline-primary" onclick="">이름 변경</button>
            </div>
        </div>
    </div>
</div>
<br>

<div class="alert alert-warning" role="alert">
    나가기 전, 반드시 저장 버튼을 눌러 주세요!
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.css" integrity="sha384-1IGr2Yb8xuHjwTG+WoGjj2+I/a/N6z0gDD5YIGCQxywPROOKc3+orbn/R7arWQxD" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.js" integrity="sha384-I2b1Pcl48X93GxEkGkaMo1hrd6n+IX8H2wgSsMimGbkZoGTve/87h1FjaDNvlpQi" crossorigin="anonymous"></script>
<script>
    /*<![CDATA[*/

    function save_single(contents, enum_number) {
        console.log(contents)
        axios.post('/edit-patent/[[${patent.getId()}]]/single/' + enum_number, contents, { headers: { 'content-type': 'text/plain' } })
        alert("변경사항이 저장되었습니다")
    }

    let editors_multi = new Map()
    function save_multi(ordinal) {
        let request = editors_multi.get(ordinal).map(it => {
            console.log(it)
            let obj = {
                identifier: document.getElementById(`#TITLE_MULTI_${ordinal}_${it.editorName}`).value,
                content: JSON.stringify(it.quill.getContents())
            }
            return obj
        })

        console.log('send data: ' + JSON.stringify(request))

        axios.post('/edit-patent/[[${patent.getId()}]]/multi/' + ordinal, JSON.stringify(request), { headers: { 'content-type': 'application/json' } })
        alert("변경사항이 저장되었습니다")
    }

    function add_multi_component(ordinal, identifier, content) {
        if(!editors_multi.has(ordinal)) editors_multi.set(ordinal, [])
        if(identifier == '') identifier = `새 구성요소 ${editors_multi.get(ordinal).length + 1}`

        let editorName = Date.now()
        let field = {
            identifier: identifier, content: content, editorName: editorName
        }

        let componentElement = document.createElement('li')
        componentElement.setAttribute('id', `component_editor_block_${editorName}`)
        componentElement.setAttribute('class', 'list-group-item d-flex justify-content-between align-items-start')
        document.getElementById(`editors_${ordinal}`).appendChild(componentElement)
        componentElement.innerHTML = document.getElementById('editors_template_block_' + ordinal).innerHTML
        componentElement.querySelector("input").setAttribute('id', `#TITLE_MULTI_${ordinal}_${editorName}`)
        componentElement.querySelector("input").setAttribute('value', identifier)
        componentElement.children[1].setAttribute('onclick', `remove_multi_component('${ordinal}', '${editorName}')`)

        componentElement.children[0].children[1]
            .setAttribute('id', `FORM_MULTI_${ordinal}_${editorName}`)

        let quill = new Quill(`#FORM_MULTI_${ordinal}_${editorName}`, {
            theme: 'snow',
            modules: {
                formula: true,
                toolbar: [
                    ['bold', 'italic', 'underline'],
                    ['formula']
                ]
            },
            placeholder: '내용을 입력하세요'
        })
        try {
            quill.setContents(JSON.parse(content))
        }catch(ex) {}
        field['quill'] = quill
        editors_multi.get(ordinal).push(field)
    }

    function remove_multi_component(ordinal, editorName) {
        let found = editors_multi.get(ordinal).filter((val) => val.editorName == editorName)[0]
        editors_multi.set(ordinal, editors_multi.get(ordinal).filter((val) => val.editorName != editorName))
        document.getElementById(`component_editor_block_${editorName}`).remove()
    }

    /*]]>*/

    window.onbeforeunload = function() { return "Would you really like to close your browser?"; }
</script>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-category-claim" data-bs-toggle="tab" data-bs-target="#editor-category-claim" type="button" role="tab" aria-controls="nav-category-claim" aria-selected="true">청구항</button>
        <button class="nav-link" id="nav-category-description" data-bs-toggle="tab" data-bs-target="#editor-category-description" type="button" role="tab" aria-controls="nav-category-description" aria-selected="false">발명의 설명</button>
        <button class="nav-link" id="nav-category-drawing" data-bs-toggle="tab" data-bs-target="#editor-category-drawing" type="button" role="tab" aria-controls="nav-category-drawing" aria-selected="false">도면</button>
        <button class="nav-link" id="nav-category-summary" data-bs-toggle="tab" data-bs-target="#editor-category-summary" type="button" role="tab" aria-controls="nav-category-summary" aria-selected="false">요약서</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="editor-category-claim" role="tabpanel" aria-labelledby="nav-category-claim" th:include="patent/editors/editor_claim :: editor">...</div>
    <div class="tab-pane fade" id="editor-category-description" role="tabpanel" aria-labelledby="nav-category-description"  th:include="patent/editors/editor_description :: editor">...</div>
    <div class="tab-pane fade" id="editor-category-drawing" role="tabpanel" aria-labelledby="nav-category-drawing" th:include="patent/editors/editor_drawing :: editor">...</div>
    <div class="tab-pane fade" id="editor-category-summary" role="tabpanel" aria-labelledby="nav-category-summary" th:include="patent/editors/editor_summary :: editor">...</div>
</div>
</html>