<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="|Patent Studio - ${title}|">Patent Studio - Alpha Edition</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="/static/css/dashboard.css" rel="stylesheet">
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:insert="global/dashboard_top :: top">

</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3" th:insert="global/dashboard_side :: side">

      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" th:insert="(${template}) :: content"></main>
  </div>
</div>


<script src="/static/js/bootstrap.bundle.min.js"></script>

<script src="/static/js/feather.min.js"></script>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/dashboard.js"></script>
</body>
</html>
