<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="side">
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="/patents">
            <span data-feather="file"></span>
            특허
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/organization">
            <span data-feather="users"></span>
            조직
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/settings">
            <span data-feather="layers"></span>
            설정
        </a>
    </li>
</ul>

<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>특허 목록</span>

    <!-- Button trigger modal -->
    <button type="button" data-bs-toggle="modal" data-bs-target="#patentModal" style="border: none; background: transparent">
        <span data-feather="plus-circle"></span>
    </button>
</h6>
<ul id="patent-side-list" class="nav flex-column mb-2">
    <li id="patent-view-item-source" class="nav-item" style="content-visibility: hidden; visibility: hidden">
        <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
        </a>
    </li>
</ul>
<script>
    let patentItems = document.getElementById("patent-side-list")
    let sourceItem = document.getElementById("patent-view-item-source")

    function newPatent(patent) {
        let newItem = document.createElement("li")
        patentItems.appendChild(newItem)
        console.log(newItem)

        newItem.className = "nav-item"
        newItem.innerHTML = sourceItem.innerHTML
        newItem.querySelector(".nav-link").setAttribute("href", "/patents/" + patent.patentId)
        newItem.querySelector(".nav-link").innerHTML += patent.nameWithKorean
    }

    axios.get('/patents/json').then((res) => {
        console.log(res)
        res.data.forEach((patent) => {
            newPatent(patent)
        })
    })
</script>


<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>업무 사이트</span>
</h6>
<ul class="nav flex-column mb-2">
    <li class="nav-item active">
        <a class="nav-link" href="https://www.patent.go.kr/" target="_blank">
            <span data-feather="file-text"></span>
            특허로
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://www.kipris.or.kr/" target="_blank">
            <span data-feather="file-text"></span>
            키프리스
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://smart.kipa.org/" target="_blank">
            <span data-feather="file-text"></span>
            특허분석평가시스템
        </a>
    </li>
</ul>
</html>
